" Highlight matches with the last search pattern
:set hlsearch

" Show where search pattern typed so far matches
:set incsearch

" Ignore case in search patterns
:set ignorecase

" Use case sensitive search if any character in the pattern is uppercase
:set smartcase

" Which keys that move the cursor left/right can wrap to other lines
:set whichwrap+=h,l

" disable search highlight by ESC
nnoremap <ESC> :nohlsearch<CR><ESC>

let mapleader = " "

" use system clipboard to copy/paste
set clipboard+=unnamed

" block selection
nmap cv <C-v>

nnoremap <leader>r :action ReformatCode<CR>

" navigation
nmap <leader>q :action GotoAction<CR>
nmap <leader>t :action SearchEverywhere<CR>
nmap <leader>gd :action GotoDeclaration<CR>
nmap <leader>gi :action GotoImplementation<CR>
nmap <leader>gu :action FindUsages<CR>
nmap <leader>b :action Back<CR>
" FIX: ALT+key => settings -> mnemonics -> Enable mnemonics in menu
" nmap <leader>f :action SelectInProjectView<CR>
nmap <leader>p :action PinActiveEditorTab<CR>
nmap <leader>j :action NextSplitter<CR>
nmap <leader>k :action PrevSplitter<CR>
nmap <leader>c :action CloseContent<CR>
nmap <leader>C :action CloseAllEditorsButActive<CR>
nmap <S-l> :tabn<CR>
nmap <S-h> :tabp<CR>

" folding
nmap <leader>fc :action CollapseAllRegions<CR>
nmap <leader>fe :action ExpandAllRegions<CR>

" splitter
nmap <leader>sv :action SplitVertically<CR>
nmap <leader>sh :action SplitHorizontally<CR>
nmap <leader>su :action Unsplit<CR>

" editing
nmap == :action CommentByLineComment<CR>
vmap == :action CommentByLineComment<CR>

" redo
nnoremap U <C-r>

" cut line to clipboard
nnoremap X "+dd

" delete without copying to clipboard
nnoremap D "_dd
vnoremap D "_dd
nnoremap dd "_d_
vnoremap dd "_d_

nnoremap d "_d
vnoremap d "_d

nnoremap S "_S
nnoremap s "_s

vnoremap S "_S
vnoremap s "_s

nnoremap C "_C
vnoremap C "_C
vnoremap c "_c

" cs"' - change surrounding " to '
" ds{surrounding} - delete {surrounding}
" S{surrounding} - surround with {surrounding} in VISUAL MODE
Plug 'tpope/vim-surround'

" BOOKMARKS
" m{a-zA-Z} - set bookmark
" '{a-zA-Z} - go to bookmark

" SEARCH TEXT
" `/`what to search
" n - go to next occurrences
" N - go to prev occurrences

" REPLACE TEXT
" :%s/what/replacement/options - replace all occurrences
" :/s/what/replacement/options - replace in LINE
" options:
" g - replace all occurrences
" i - case insensitive
" I - case sensitive
" c - ask confirmation for each

" APPEND/INSERT to selected lines
" select lines, press :normal A / :normal I and add test without spaces

" SELECT SCOPE IN VISUAL SELECTION
" v i < - select content inside "<"
" v a { - select content including "{"
" it works for c (change) also, like "c a {" will change content including "{"